@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Tiro+Kannada&display=swap');

body {
    margin: 0;
    background-color: #161618;
}

body * {
    box-sizing: border-box;
}

.titulo {
    color: #e3b062;
    width: fit-content;
    font-weight: 500;
}

.titulo>span {
    color: #FFFFFF;
    font-weight: 800;
    text-shadow: 0px 0px 5px #FFFFFF
}

ul {
    list-style: none;
    display: flex;
}

li a {
    text-decoration: none;
    color: #FFFFFF;
}

li {
    margin: 0px 15px;
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 10px #FFFFFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

li:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

nav {
    font-family: 'Tiro Kannada', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 20px;
    color: white;
    text-shadow: 0px 1px 1px #00000056;
}

.login-cadastro {
    display: flex;
    margin-left: 50px;
}

.simulador {
    color: white;

}

.simulador .container {
    flex-direction: column
}


.container1 {
    width: 80%;
    margin: auto;
    display: flex;
}

.banner {
    height: fit-content;
    padding: 40px 0;
    color: white;
    background-image: url(".././assets/Gifs/tranquility.gif");
    /*background-size: cover;*/
}

.banner .container1 {
    height: 400px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
}

.banner-album {
    height: fit-content;
    padding: 40px 0;
    color: white;
}

.banner-album .album1 {
    background-color: #e3b062;
    margin-top: 20px;
    height: 450px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
}

.capa1{
    display: flex;
    width: 300px;
    height: 300px;
    margin-left: 50px;
}

.spot-tranquility {
    display: flex;
    width: 350px;
    height: 200px;
    margin-left: 500px;
}

.img-spot {
    display: inline-flex;
}

.tamanho-conteudo {
    height: fit-content !important;
}

.banner p {
    width: 50%;
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 36px;
}

.banner .container1 span {
    font-weight: 800;
    color: #e3b062;
}

/* FOOTER */

.footer {
    background-color: #161618;
    height: 100px;
    color: #fff;
    display: flex;
    font-size: 15px;
}

.footer .container {
    justify-content: center;
}